# Force (some) apps run by turbo to use colorful output.
export FORCE_COLOR=1
export EDGEDB_INSTANCE="studylog"
# For cacheable pretty eslint terminal output even when there aren't any errors.
# Taken from here: https://turbo.build/repo/docs/core-concepts/caching#configuring-cache-outputs
export TIMING=1
